<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<TITLE>学汉字</TITLE>
	<link rel="stylesheet" type="text/css" href="css/mint.min.css" />
	<link rel="stylesheet" type="text/css" href="css/common.css" />

	<script src="js/jquery.min-1.11.3.js"></script>
	<script src="js/JSConstants.js"></script>
	<script src="js/JSBridge.js"></script>
	<script src="js/JSBridgeExt.js"></script>
	<script src="js/vue.min.js"></script>
	<script src="js/mint.min.js"></script>

	<style type="text/css">
		/* 声母 */
		.sm{
			border-collapse: collapse;
		}

		.sm td{
			padding: 12px;
		}

		.sm img{
			width: 60px;
			height: 60px;
		}

		/* 韵母 */
		.ym{
			border-collapse: collapse;
		}

		.ym td{
			padding: 12px;
		}

		.ym img{
			width: 60px;
			height: 60px;
		}

		.word-container {
			width: 100%;
			padding-top: 15px;
		}

		.word {
			text-align:center;
			font-size:50px;
			font-weight:600;
			width:60px;
			height:60px;
			background-image:url(images/mzg.jpg);
			background-repeat:no-repeat;
			display: block;
			position: relative;
			float: left;
			margin-left: 10px;
			margin-right: 5px;
			margin-bottom: 20px;
			cursor: pointer;
		}
	</style>
</HEAD>
<BODY bgcolor="#B4CDCD">
	<div id="app" class="vue-mint-container">
		<mt-header fixed title="学汉字"></mt-header>

		<mt-tab-container v-model="selectedTab">
			<mt-tab-container-item id="tab1">
				<table border="0" width="100%">
					<tr>
						<td align="center">
							<table class="sm">
								<tr>
									<td><img src="pinyin/b.jpg" @click="_playVoice('b')"></td>
									<td><img src="pinyin/p.jpg" @click="_playVoice('p')"></td>
									<td><img src="pinyin/m.jpg" @click="_playVoice('m')"></td>
									<td><img src="pinyin/f.jpg" @click="_playVoice('f')"></td>
								</tr>
								<tr>
									<td><img src="pinyin/d.jpg" @click="_playVoice('d')"></td>
									<td><img src="pinyin/t.jpg" @click="_playVoice('t')"></td>
									<td><img src="pinyin/n.jpg" @click="_playVoice('n')"></td>
									<td><img src="pinyin/l.jpg" @click="_playVoice('l')"></td>
								</tr>
								<tr>
									<td><img src="pinyin/g.jpg" @click="_playVoice('g')"></td>
									<td><img src="pinyin/k.jpg" @click="_playVoice('k')"></td>
									<td><img src="pinyin/h.jpg" @click="_playVoice('h')"></td>
									<td><img src="pinyin/j.jpg" @click="_playVoice('j')"></td>
								</tr>
								<tr>
									<td><img src="pinyin/q.jpg" @click="_playVoice('q')"></td>
									<td><img src="pinyin/x.jpg" @click="_playVoice('x')"></td>
									<td><img src="pinyin/zh.jpg" @click="_playVoice('zh')"></td>
									<td><img src="pinyin/ch.jpg" @click="_playVoice('ch')"></td>
								</tr>
								<tr>
									<td><img src="pinyin/sh.jpg" @click="_playVoice('sh')"></td>
									<td><img src="pinyin/r.jpg" @click="_playVoice('r')"></td>
									<td><img src="pinyin/z.jpg" @click="_playVoice('z')"></td>
									<td><img src="pinyin/c.jpg" @click="_playVoice('c')"></td>
								</tr>
								<tr>
									<td><img src="pinyin/s.jpg" @click="_playVoice('s')"></td>
									<td><img src="pinyin/y.jpg" @click="_playVoice('y')"></td>
									<td><img src="pinyin/w.jpg" @click="_playVoice('w')"></td>
									<td>&nbsp;</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</mt-tab-container-item>

			<mt-tab-container-item id="tab2" style="display:none;">
				<table border="0" width="100%">
					<tr>
						<td align="center">
							<table class="ym">
								<tr>
									<td><img src="pinyin/a.jpg" @click="_playVoice('a')"></td>
									<td><img src="pinyin/o.jpg" @click="_playVoice('o')"></td>
									<td><img src="pinyin/e.jpg" @click="_playVoice('e')"></td>
									<td><img src="pinyin/i.jpg" @click="_playVoice('i')"></td>
								</tr>
								<tr>
									<td><img src="pinyin/u.jpg" @click="_playVoice('u')"></td>
									<td><img src="pinyin/ü.jpg" @click="_playVoice('ü')"></td>
									<td><img src="pinyin/ai.jpg" @click="_playVoice('ai')"></td>
									<td><img src="pinyin/ei.jpg" @click="_playVoice('ei')"></td>
								</tr>
								<tr>
									<td><img src="pinyin/ui.jpg" @click="_playVoice('ui')"></td>
									<td><img src="pinyin/ao.jpg" @click="_playVoice('ao')"></td>
									<td><img src="pinyin/ou.jpg" @click="_playVoice('ou')"></td>
									<td><img src="pinyin/iu.jpg" @click="_playVoice('iu')"></td>
								</tr>
								<tr>
									<td><img src="pinyin/ie.jpg" @click="_playVoice('ie')"></td>
									<td><img src="pinyin/üe.jpg" @click="_playVoice('üe')"></td>
									<td><img src="pinyin/er.jpg" @click="_playVoice('er')"></td>
									<td><img src="pinyin/an.jpg" @click="_playVoice('an')"></td>
								</tr>
								<tr>
									<td><img src="pinyin/en.jpg" @click="_playVoice('en')"></td>
									<td><img src="pinyin/in.jpg" @click="_playVoice('in')"></td>
									<td><img src="pinyin/un.jpg" @click="_playVoice('un')"></td>
									<td><img src="pinyin/ün.jpg" @click="_playVoice('ün')"></td>
								</tr>
								<tr>
									<td><img src="pinyin/ang.jpg" @click="_playVoice('ang')"></td>
									<td><img src="pinyin/eng.jpg" @click="_playVoice('eng')"></td>
									<td><img src="pinyin/ing.jpg" @click="_playVoice('ing')"></td>
									<td><img src="pinyin/ong.jpg" @click="_playVoice('ong')"></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</mt-tab-container-item>

			<mt-tab-container-item id="tab3" style="display:none;">
				<div class="word-container">
					<span class="word" v-for="(item,index) in wordInfoList" @click="showWordDetail(index)">{{ item.word }}</span>
				</div>
			</mt-tab-container-item>
		</mt-tab-container>

		<mt-tabbar fixed v-model="selectedTab">
			<mt-tab-item id="tab1">
				<img slot="icon" src="images/pinyin.png">声母表
			</mt-tab-item>
			<mt-tab-item id="tab2">
				<img slot="icon" src="images/pinyin.png">韵母表
			</mt-tab-item>
			<mt-tab-item id="tab3">
				<img slot="icon" src="images/hanzi.png">汉字
			</mt-tab-item>
		</mt-tabbar>
	</div>

	<script>
		var vm = new Vue({
			el: '#app',
			data: {
				selectedTab: "tab1",
				wordInfoList: [
					{word:"月"},
					{word:"山"},
					{word:"山"},
					{word:"山"},
					{word:"山"},
					{word:"山"}
				]
			},
			methods: {
				_playVoice: function(name){
					var obj = {"audioFile": "html/pinyin/" + name + ".mp3"};
					jsBridge.dispatchAction(actionNames.AudioPlay, JSON.stringify(obj));
				},
				showWordDetail: function(index){

				}
			},
			watch: {
				//监听selectedTab属性的值
				selectedTab: function(val){
					var obj = {"key":"currentTab", "value":val};
					jsBridge.dispatchAction(actionNames.GlobalCache, JSON.stringify(obj), "set");
				}
			}
		})
	</script>

	<script type="text/javascript">
		//页面加载完成后，触发该方法
        function pageFinishCallback(){
        	var obj = {"key":"currentTab"};
        	var currentTab = jsBridge.dispatchAction(actionNames.GlobalCache, JSON.stringify(obj), "get");
			if(currentTab != ""){
				vm.selectedTab = currentTab;
			}
        }
    </script>
</BODY>
</HTML>
