<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<TITLE>学汉字</TITLE>
	<link rel="stylesheet" type="text/css" href="css/mint.min.css" />
	<link rel="stylesheet" type="text/css" href="css/muse-ui.css" />
	<link rel="stylesheet" type="text/css" href="css/common.css" />

	<script src="js/jquery.min-1.11.3.js"></script>
	<script src="js/JSConstants.js"></script>
	<script src="js/JSBridge.js"></script>
	<script src="js/JSBridgeExt.js"></script>
	<script src="js/vue.min.js"></script>
	<script src="js/mint.min.js"></script>
	<script src="js/muse-ui.js"></script>

	<style type="text/css">
		/* 声母 */
		.sm{
			border-collapse: collapse;
		}

		.sm td{
			padding: 12px;
		}

		.sm img{
			width: 60px;
			height: 60px;
		}

		/* 韵母 */
		.ym{
			border-collapse: collapse;
		}

		.ym td{
			padding: 12px;
		}

		.ym img{
			width: 60px;
			height: 60px;
		}

		/* 详情对话框 */
		.word-container {
			width: 100%;
			padding-top: 5px;
			padding-left: 10px;
		}

		/* 字母 */
		.zm td{
			padding: 10px 3px;
		}

		.zm img{
			width: 60px;
			height: 60px;
		}

		.word {
			text-align:center;
			font-size:46px;
			font-weight:500;
			width:60px;
			height:60px;
			background-image:url(images/mzg.jpg);
			background-repeat:no-repeat;
			display: block;
			position: relative;
			float: left;
			margin-left: 4px;
			margin-right: 3px;
			margin-bottom: 10px;
			cursor: pointer;
		}

		/* 详情对话框 - cell */
		.word-info-detail td {
			font-size: 16px;
			padding: 5px 0;
		}

		.word-info-detail span {
			font-weight: 600;
			font-size: 16px;
		}

		/* 详情对话框 - header */
		.mu-appbar {
			height: 50px;
		}

		.mint-radiolist-label {
			padding: 0 0;
		}

		.mint-cell-wrapper, .mint-cell:last-child {
			background-image: none;
		}
	</style>
</HEAD>
<BODY bgcolor="#B4CDCD">
	<div id="app" class="vue-mint-container">
		<mt-header fixed title="学汉字"></mt-header>

		<mt-tab-container v-model="selectedTab">
			<mt-tab-container-item id="tab1">
				<table border="0" width="100%">
					<tr>
						<td align="center">
							<table class="sm">
								<tr>
									<td><img src="pinyin/b.jpg" @click="_playVoice('b')"></td>
									<td><img src="pinyin/p.jpg" @click="_playVoice('p')"></td>
									<td><img src="pinyin/m.jpg" @click="_playVoice('m')"></td>
									<td><img src="pinyin/f.jpg" @click="_playVoice('f')"></td>
								</tr>
								<tr>
									<td><img src="pinyin/d.jpg" @click="_playVoice('d')"></td>
									<td><img src="pinyin/t.jpg" @click="_playVoice('t')"></td>
									<td><img src="pinyin/n.jpg" @click="_playVoice('n')"></td>
									<td><img src="pinyin/l.jpg" @click="_playVoice('l')"></td>
								</tr>
								<tr>
									<td><img src="pinyin/g.jpg" @click="_playVoice('g')"></td>
									<td><img src="pinyin/k.jpg" @click="_playVoice('k')"></td>
									<td><img src="pinyin/h.jpg" @click="_playVoice('h')"></td>
									<td><img src="pinyin/j.jpg" @click="_playVoice('j')"></td>
								</tr>
								<tr>
									<td><img src="pinyin/q.jpg" @click="_playVoice('q')"></td>
									<td><img src="pinyin/x.jpg" @click="_playVoice('x')"></td>
									<td><img src="pinyin/zh.jpg" @click="_playVoice('zh')"></td>
									<td><img src="pinyin/ch.jpg" @click="_playVoice('ch')"></td>
								</tr>
								<tr>
									<td><img src="pinyin/sh.jpg" @click="_playVoice('sh')"></td>
									<td><img src="pinyin/r.jpg" @click="_playVoice('r')"></td>
									<td><img src="pinyin/z.jpg" @click="_playVoice('z')"></td>
									<td><img src="pinyin/c.jpg" @click="_playVoice('c')"></td>
								</tr>
								<tr>
									<td><img src="pinyin/s.jpg" @click="_playVoice('s')"></td>
									<td><img src="pinyin/y.jpg" @click="_playVoice('y')"></td>
									<td><img src="pinyin/w.jpg" @click="_playVoice('w')"></td>
									<td>&nbsp;</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</mt-tab-container-item>

			<mt-tab-container-item id="tab2" style="display:none;">
				<table border="0" width="100%">
					<tr>
						<td align="center">
							<table class="ym">
								<tr>
									<td><img src="pinyin/a.jpg" @click="_playVoice('a')"></td>
									<td><img src="pinyin/o.jpg" @click="_playVoice('o')"></td>
									<td><img src="pinyin/e.jpg" @click="_playVoice('e')"></td>
									<td><img src="pinyin/i.jpg" @click="_playVoice('i')"></td>
								</tr>
								<tr>
									<td><img src="pinyin/u.jpg" @click="_playVoice('u')"></td>
									<td><img src="pinyin/ü.jpg" @click="_playVoice('ü')"></td>
									<td><img src="pinyin/ai.jpg" @click="_playVoice('ai')"></td>
									<td><img src="pinyin/ei.jpg" @click="_playVoice('ei')"></td>
								</tr>
								<tr>
									<td><img src="pinyin/ui.jpg" @click="_playVoice('ui')"></td>
									<td><img src="pinyin/ao.jpg" @click="_playVoice('ao')"></td>
									<td><img src="pinyin/ou.jpg" @click="_playVoice('ou')"></td>
									<td><img src="pinyin/iu.jpg" @click="_playVoice('iu')"></td>
								</tr>
								<tr>
									<td><img src="pinyin/ie.jpg" @click="_playVoice('ie')"></td>
									<td><img src="pinyin/üe.jpg" @click="_playVoice('üe')"></td>
									<td><img src="pinyin/er.jpg" @click="_playVoice('er')"></td>
									<td><img src="pinyin/an.jpg" @click="_playVoice('an')"></td>
								</tr>
								<tr>
									<td><img src="pinyin/en.jpg" @click="_playVoice('en')"></td>
									<td><img src="pinyin/in.jpg" @click="_playVoice('in')"></td>
									<td><img src="pinyin/un.jpg" @click="_playVoice('un')"></td>
									<td><img src="pinyin/ün.jpg" @click="_playVoice('ün')"></td>
								</tr>
								<tr>
									<td><img src="pinyin/ang.jpg" @click="_playVoice('ang')"></td>
									<td><img src="pinyin/eng.jpg" @click="_playVoice('eng')"></td>
									<td><img src="pinyin/ing.jpg" @click="_playVoice('ing')"></td>
									<td><img src="pinyin/ong.jpg" @click="_playVoice('ong')"></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</mt-tab-container-item>

			<mt-tab-container-item id="tab3" style="display:none;">
				<div>
					<mt-cell title="排序:">
						<mt-radio title="" v-model="orderBy" :options="['笔画数']"> </mt-radio>
						<mt-radio title="" v-model="orderBy" :options="['拼音']"> </mt-radio>
						<mt-radio title="" v-model="orderBy" :options="['汉字']"> </mt-radio>
					</mt-cell>

					<mt-cell title="查询:">
						<mt-field label="" v-model.trim="keyword"></mt-field>
						<mt-button type="primary" size="small" @click="_query">查询</mt-button>
					</mt-cell>
				</div>
				<div class="word-container">
					<span class="word" v-for="(item,index) in wordInfoList" @click="showWordDetail(index)">{{ item.word }}</span>
				</div>
				<div style="clear:both; text-align:center; padding-top:10px;" v-show="pages != 0">
					<img src="images/left.jpg" @click="provPage()" style="margin-right:15px">
					<img src="images/right.jpg" @click="nextPage()" style="margin-left:15px">
				</div>
			</mt-tab-container-item>

			<mt-tab-container-item id="tab4" style="display:none;">
				<table border="0" width="100%">
					<tr>
						<td align="center">
							<table class="zm">
								<tr>
									<td><img src="letter/a.jpg"></td>
									<td><img src="letter/b.jpg"></td>
									<td><img src="letter/c.jpg"></td>
									<td><img src="letter/d.jpg"></td>
									<td><img src="letter/e.jpg"></td>
								</tr>
								<tr>
									<td><img src="letter/f.jpg"></td>
									<td><img src="letter/g.jpg"></td>
									<td><img src="letter/h.jpg"></td>
									<td><img src="letter/i.jpg"></td>
									<td><img src="letter/j.jpg"></td>
								</tr>
								<tr>
									<td><img src="letter/k.jpg"></td>
									<td><img src="letter/l.jpg"></td>
									<td><img src="letter/m.jpg"></td>
									<td><img src="letter/n.jpg"></td>
									<td><img src="letter/o.jpg"></td>
								</tr>
								<tr>
									<td><img src="letter/p.jpg"></td>
									<td><img src="letter/q.jpg"></td>
									<td><img src="letter/r.jpg"></td>
									<td><img src="letter/s.jpg"></td>
									<td><img src="letter/t.jpg"></td>
								</tr>
								<tr>
									<td><img src="letter/u.jpg"></td>
									<td><img src="letter/v.jpg"></td>
									<td><img src="letter/w.jpg"></td>
									<td><img src="letter/x.jpg"></td>
									<td><img src="letter/y.jpg"></td>
								</tr>
								<tr>
									<td><img src="letter/z.jpg"></td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</mt-tab-container-item>
		</mt-tab-container>

		<mt-tabbar fixed v-model="selectedTab">
			<mt-tab-item id="tab1">
				<img slot="icon" src="images/pinyin.png">声母表
			</mt-tab-item>
			<mt-tab-item id="tab2">
				<img slot="icon" src="images/pinyin.png">韵母表
			</mt-tab-item>
			<mt-tab-item id="tab3">
				<img slot="icon" src="images/hanzi.png">汉字
			</mt-tab-item>
			<mt-tab-item id="tab4">
				<img slot="icon" src="images/english.png">字母表
			</mt-tab-item>
		</mt-tabbar>


		<mu-dialog width="360" transition="slide-bottom" fullscreen :open.sync="openFullscreen">
			<mu-appbar color="primary" :title="'详情 - ' + selectedWordInfo.word">
				<mu-button slot="right" flat  @click="closeFullscreenDialog">关闭</mu-button>
			</mu-appbar>

			<table width="100%">
				<tr>
					<td align="center">
						<table width="300" class="word-info-detail" border="0">
							<tr>
								<td colspan="2" align="center"><img :src="'words/'+selectedWordInfo.image_name"></td>
							</tr>
							<tr>
								<td><span>拼音：</span>{{ selectedWordInfo.pinyin }}</td>
								<td><span>笔画数：</span>{{ selectedWordInfo.count }}</td>
							</tr>
							<tr>
								<td><span>部首：</span>{{ selectedWordInfo.bushou }}</td>
								<td><span>结构：</span>{{ selectedWordInfo.jiegou }}</td>
							</tr>
							<tr>
								<td colspan="2"><span>词组：</span>{{ selectedWordInfo.cizu }}</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</mu-dialog>
	</div>

	<script>
		var vm = new Vue({
			el: '#app',
			data: {
				selectedTab: "tab1",
				wordInfoList: [
					//{"word":"月"},{"word":"月"},{"word":"月"},{"word":"月"},{"word":"月"},{"word":"月"},{"word":"月"}
				],
				//selectedWordInfo: {"cizu":"山东省, 山西省, 山猫, 矿山, 山寨","image_name":"山.gif","word":"山","jiegou":"独体结构","id":"4","bushou":"山","count":"3","pinyin":"shān"},
				selectedWordInfo: {},
				openFullscreen: false,
				orderBy: "笔画数",
				keyword: "",
				pageNum: 1,
				pages: 0
			},
			methods: {
				_playVoice: function(name){
					var obj = {"audioFile": "html/pinyin/" + name + ".mp3"};
					jsBridge.dispatchAction(actionNames.AudioPlay, JSON.stringify(obj));
				},
				showWordDetail: function(index){
					this.selectedWordInfo = this.wordInfoList[index];
					this.openFullscreen = true;
				},
				closeFullscreenDialog: function(){
					this.openFullscreen = false;
				},
				_query: function(){
					this.pageNum = 1;
					queryData();
				},
				provPage: function(){
					if(this.pageNum > 1){
						this.pageNum = this.pageNum - 1;
						queryData();
					}
				},
				nextPage: function(){
					if(this.pageNum < this.pages){
						this.pageNum = this.pageNum + 1;
						queryData();
					}
				}
			},
			watch: {
				//监听selectedTab属性的值
				selectedTab: function(val){
					var obj = {"key":"currentTab", "value":val};
					jsBridge.dispatchAction(actionNames.GlobalCache, JSON.stringify(obj), "set");
				},
				orderBy: function(val){
					this.pageNum = 1;
					queryData();
				}
			}
		})
	</script>

	<script type="text/javascript">
		//页面加载完成后，触发该方法
        function pageFinishCallback(){
        	var obj = {"key":"currentTab"};
        	var currentTab = jsBridge.dispatchAction(actionNames.GlobalCache, JSON.stringify(obj), "get");
			if(currentTab != ""){
				vm.selectedTab = currentTab;
			}

			if(vm.selectedTab == "tab3"){
				queryData();
			}
        }

        function queryData(){
        	var obj = {"keyword":vm.keyword, "orderBy":vm.orderBy, "pageSize":25, "pageNum":vm.pageNum};
			var dataResult = jsBridge.dispatchAction("Word", JSON.stringify(obj), "query");
			var jsonData = jQuery.parseJSON(dataResult);
			vm.wordInfoList = jsonData.list;
			vm.pages = jsonData.pages;
        }
    </script>
</BODY>
</HTML>
